@font-face {
  font-family: "Inconsolata";
  src: url("src/assets/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

$bg: #272727;
$text-primary: #dfdfdf;
$text-secondary: #a1a1a1;
$text-tertiary: #4a4a4a;

$board-sq-white: #b3b3b3;
$borders: #b3b3b3;

$accent: #46ff3c;
