@import "src/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

//body, containers

body {
  background: $bg;
  color: $text-primary;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 30px);
}

.inner {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-column-gap: 32px;
}

.board-container {
  display: grid;
  grid-template-rows: 36px 600px;
  grid-template-columns: 600px 300px;
  grid-gap: 20px;
}

// text styles

.text-primary {
  color: $text-primary;
}

.text-secondary {
  color: $text-secondary;
}

.text-tertiary {
  color: $text-tertiary;
}

.text-accent {
  color: $accent;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: $text-secondary;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: $text-secondary;
  }

  &:hover {
    color: $text-primary;
    &::after {
      background: $text-primary;
    }
  }

  &:active {
    &::after {
      opacity: 0;
    }
  }
}

.link-accent {
  @extend .link;
  color: $accent;
  &::after {
    background: $accent;
  }
}

// primary content

.info-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .info {
    color: $text-secondary;
  }

  .info-right {
    text-align: right;
  }
}

.player-info {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 18px;
  grid-column: 2;
}
